/* <reusable> */
.padding-0-5-rem {
  padding: 0.5rem;
}

/* </reusable> */
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html body {
  margin: 0;
}
html body ul {
  padding: 0;
}
html body ul li {
  list-style: none;
}
html body a {
  text-decoration: none;
  color: #000000;
}
html body button {
  border: 1px solid transparent;
  background: #ffffff;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1rem;
  background: #ffffff;
  z-index: 1;
}
.header ul {
  display: flex;
  justify-content: space-around;
}
.header a {
  white-space: nowrap;
}
.header .menu .menu-bar-button {
  display: none;
  width: 1em;
}
.header .menu .menu-bar-button div {
  border-bottom: 1px solid #000000;
  padding: 2px 0;
}
@media only screen and (max-width: 540px) {
  .header .menu .menu-bar-button {
    display: block;
  }
}
.header .menu .menu-bar-expanded li {
  border-bottom: 1px solid transparent;
}
.header .menu .menu-bar-expanded li:hover {
  border-bottom: 1px solid #D9D9D9;
}
.header .menu .menu-bar-expanded > .active {
  border-bottom: 1px solid red;
}
.header .menu .menu-bar-expanded > .active:hover {
  border-bottom: 1px solid red;
}
@media only screen and (max-width: 540px) {
  .header .menu .menu-bar-expanded {
    display: none;
  }
}
@media only screen and (max-width: 540px) {
  .header .menu > .active {
    display: block;
    text-align: center;
    background: #ffffff;
    position: absolute;
    right: 0;
    width: 100%;
    margin-top: 1em;
  }
}
@media only screen and (max-width: 540px) {
  .header .close .menu-bar-button div:nth-child(odd) {
    border-bottom: 1px solid transparent;
  }
  .header .close .menu-bar-button div:nth-child(even) {
    -webkit-animation: skew-button 250ms linear 1 forwards;
    -moz-animation: skew-button 250ms linear 1 forwards;
    -o-animation: skew-button 250ms linear 1 forwards;
    animation: skew-button 250ms linear 1 forwards;
  }
  .header .close .menu-bar-button div:nth-child(even)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    margin: -2px 0;
    -webkit-animation: skew-button-after 250ms linear 1 forwards;
    -moz-animation: skew-button-after 250ms linear 1 forwards;
    -o-animation: skew-button-after 250ms linear 1 forwards;
    animation: skew-button-after 250ms linear 1 forwards;
  }
}

.content {
  margin-top: calc(2em + 2em + 0.3rem);
  z-index: 0;
  position: relative;
  overflow: hidden;
}
.content .service-header {
  font-size: 1.3rem;
  text-align: center;
}
.content .service-section .services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #000000;
}
.content .service-section .services .service {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  width: 21vmax;
}
.content .service-section .services .service > img {
  margin: 0.5em;
  height: 16em;
  align-self: center;
}
@media only screen and (max-width: 540px) {
  .content .service-section .services .service > img {
    height: 57vmax;
  }
}
.content .service-section .services .service > .text {
  margin: 1vmax;
}
.content .service-section .services .service > .text p:first-child {
  font-size: 2rem;
  margin: 0.5vmax 0;
}
@media only screen and (max-width: 540px) {
  .content .service-section .services .service > .text {
    margin: 0 5vmax;
  }
}
.content .service-section .services .service:nth-child(2) {
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  padding: 0 3vmax;
}
@media only screen and (max-width: 1300px) {
  .content .service-section .services .service:nth-child(2) {
    padding: 0;
    border: 0px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 540px) {
  .content .service-section .services .service {
    flex-direction: row;
    width: auto;
  }
}
@media only screen and (max-width: 540px) {
  .content .service-section .services .service {
    width: 60vmax;
  }
}
@media only screen and (max-width: 1300px) {
  .content .service-section .services {
    flex-direction: column;
  }
}

.footer {
  position: relative;
  background: #0D9361;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  padding-bottom: 1em;
  overflow: hidden;
}
.footer > div {
  margin: 1em 2em;
}
.footer .contact p {
  font-size: 2rem;
}
@media only screen and (min-width: 540px) {
  .footer .contact p {
    margin: 0.5vmax 0;
  }
}
.footer .contact form {
  display: flex;
  flex-direction: column;
}
.footer .contact form label {
  margin-top: 0.5vmax;
}
.footer .contact form button {
  margin-top: 1em;
  font-family: inherit;
  align-self: center;
  padding: 0.1em 2em;
  color: #0D9361;
}
.footer .about {
  width: 50%;
  text-align: end;
}
.footer .about > :nth-child(2) {
  font-size: 2rem;
  margin-top: -1.6em;
}
.footer .about .red-div {
  background: red;
  width: 200%;
  height: 4em;
}
.footer .about .followers ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer .about .followers ul > li {
  margin: 0 0.5em;
  white-space: nowrap;
}
.footer .about .followers img {
  height: 3em;
}
@media only screen and (max-width: 540px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}

.developerOnly {
  background: #0D9361;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.developerOnly p {
  margin: 0;
  color: #ffffff;
  margin-right: 0.5em;
}
.developerOnly img {
  height: 2em;
}

.goTop {
  position: fixed;
  right: 0;
  background: #ffffff;
  box-shadow: 0 0 1em 0 #000000;
  padding: 1em 0.5em;
  margin: 4.5em 1.1em;
  border-radius: 0.2em;
}
.goTop.active {
  -webkit-animation: move-to-top 500ms 0s linear forwards;
  -moz-animation: move-to-top 500ms 0s linear forwards;
  -o-animation: move-to-top 500ms 0s linear forwards;
  animation: move-to-top 500ms 0s linear forwards;
}
.goTop.inactive {
  -webkit-animation: move-to-bottom 500ms 0s linear forwards;
  -moz-animation: move-to-bottom 500ms 0s linear forwards;
  -o-animation: move-to-bottom 500ms 0s linear forwards;
  animation: move-to-bottom 500ms 0s linear forwards;
}

/* <keyframes> */
@-webkit-keyframes move-right-center {
  0% {
    left: 100%;
  }
  30% {
    left: 0;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes move-right-center {
  0% {
    left: 100%;
  }
  30% {
    left: 0;
  }
  100% {
    left: 0;
  }
}
@-o-keyframes move-right-center {
  0% {
    left: 100%;
  }
  30% {
    left: 0;
  }
  100% {
    left: 0;
  }
}
@keyframes move-right-center {
  0% {
    left: 100%;
  }
  30% {
    left: 0;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes move-center-left {
  0% {
    left: 0;
  }
  30% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}
@-moz-keyframes move-center-left {
  0% {
    left: 0;
  }
  30% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}
@-o-keyframes move-center-left {
  0% {
    left: 0;
  }
  30% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}
@keyframes move-center-left {
  0% {
    left: 0;
  }
  30% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}
@-webkit-keyframes move-left-center {
  0% {
    left: -100%;
  }
  30% {
    left: 0;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes move-left-center {
  0% {
    left: -100%;
  }
  30% {
    left: 0;
  }
  100% {
    left: 0;
  }
}
@-o-keyframes move-left-center {
  0% {
    left: -100%;
  }
  30% {
    left: 0;
  }
  100% {
    left: 0;
  }
}
@keyframes move-left-center {
  0% {
    left: -100%;
  }
  30% {
    left: 0;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes move-center-right {
  0% {
    left: 0;
  }
  30% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@-moz-keyframes move-center-right {
  0% {
    left: 0;
  }
  30% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@-o-keyframes move-center-right {
  0% {
    left: 0;
  }
  30% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes move-center-right {
  0% {
    left: 0;
  }
  30% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes skew-button {
  0% {
    transform: skew(0, 0);
  }
  100% {
    transform: skew(0, 36deg);
  }
}
@-moz-keyframes skew-button {
  0% {
    transform: skew(0, 0);
  }
  100% {
    transform: skew(0, 36deg);
  }
}
@-o-keyframes skew-button {
  0% {
    transform: skew(0, 0);
  }
  100% {
    transform: skew(0, 36deg);
  }
}
@keyframes skew-button {
  0% {
    transform: skew(0, 0);
  }
  100% {
    transform: skew(0, 36deg);
  }
}
@-webkit-keyframes skew-button-after {
  0% {
    transform: skew(0, 0);
  }
  100% {
    transform: skew(0, -56deg);
  }
}
@-moz-keyframes skew-button-after {
  0% {
    transform: skew(0, 0);
  }
  100% {
    transform: skew(0, -56deg);
  }
}
@-o-keyframes skew-button-after {
  0% {
    transform: skew(0, 0);
  }
  100% {
    transform: skew(0, -56deg);
  }
}
@keyframes skew-button-after {
  0% {
    transform: skew(0, 0);
  }
  100% {
    transform: skew(0, -56deg);
  }
}
@-webkit-keyframes move-to-top {
  0% {
    bottom: -50%;
  }
  100% {
    bottom: 0%;
  }
}
@-moz-keyframes move-to-top {
  0% {
    bottom: -50%;
  }
  100% {
    bottom: 0%;
  }
}
@-o-keyframes move-to-top {
  0% {
    bottom: -50%;
  }
  100% {
    bottom: 0%;
  }
}
@keyframes move-to-top {
  0% {
    bottom: -50%;
  }
  100% {
    bottom: 0%;
  }
}
@-webkit-keyframes move-to-bottom {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: -50%;
  }
}
@-moz-keyframes move-to-bottom {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: -50%;
  }
}
@-o-keyframes move-to-bottom {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: -50%;
  }
}
@keyframes move-to-bottom {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: -50%;
  }
}
/* </keyframes> */

/*# sourceMappingURL=index.css.map */
