$colors: (
    primary: #fff,
    secondery: #000,
    whitee: #ffffff,
    blackk: #000000,
    redd: red,
    greenn: #0D9361,
    greyy: #D9D9D9,
    transparentt: transparent, 
);

/* <reusable> */
.padding-0-5-rem {
    padding: 0.5rem;
}
/* </reusable> */
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    body {
        margin: 0;
        ul {
            padding: 0;
            li {
                list-style: none;
            }
        }
        a {
            text-decoration: none;
            color: map-get($map: $colors, $key: blackk);
        }
    }
}
.header {
    font-size: 1em;
    ul {
        display: flex;
        justify-content: space-around;
    }
    a {
        white-space: nowrap;
    }
    .menu-bar {
        li {
            border-bottom: 1px solid map-get($map: $colors, $key: transparentt);
            &:hover {
                border-bottom: 1px solid map-get($map: $colors, $key: redd);
            }
        }
    }
}
.content {
    position: relative;
    overflow: hidden;
    .slide-show {
        // border: 1px solid black;
        display: flex;
        position: relative;
        height: 60vh;
        color: map-get($map: $colors, $key: whitee);
        text-shadow: 0 0 20px map-get($map: $colors, $key: blackk);
        > div {
            position: absolute;
        }
        .slide-image {
            // border: 1px solid red;
            width: 100%;
            flex-shrink: 0;
            display: flex;
            .skewed {
                // border: 1px solid red;
                width: 50%;
                height: 60vh;
                transform: skew(-20deg);
                margin-left: 7%;
                background: map-get($map: $colors, $key: redd);
                opacity: 0.4;
            }
            .text {
                width: 60%; 
                margin-left: -55%;
                z-index: 1;
                h1 {
                    font-size: 3.5vmax;
                    margin-left: 30%;
                    margin-bottom: 0;
                    @media only screen and (max-width: 360px) {
                        font-size: 4.5vmax;
                    }
                }
                p {
                    font-size: 1.6vmax;
                    margin-top: 0;
                    margin-left: 20%;
                    @media only screen and (max-width: 360px) {
                        font-size: 2.7vmax;
                    }
                }
                @media only screen and (max-width: 360px) {
                    width: 70%;
                }
            }
        }
        .slide-buttons {
            bottom: 10px;
            right: 10px;
            .slide-button {
                margin-right: 10px;
                padding: 10px;
                border: 1px solid map-get($map: $colors, $key: transparentt);
                background: map-get($map: $colors, $key: whitee);
            }
        }
        .image-1 {
            background: url('images/5.png');
            background-size: cover;
            background-position: center;
            left: 100%;
        }
        .image-2 {
            background: url('images/6.jpg');
            background-size: cover;
            background-position: center;
            left: 100%;
        }
        .image-3 {
            background: url('images/7.jpg');
            background-size: cover;
            background-position: center;
            left: 100%;
        }
        .image-4 {
            background: url('images/8.png');
            background-size: cover;
            background-position: center;
            left: 100%;
        }
        .move-to-center {
            -webkit-animation: move-to-center 8s 0s 1 forwards;
            -moz-animation: move-to-center 8s 0s 1 forwards;
            -o-animation: move-to-center 8s 0s 1 forwards;
            animation: move-to-center 8s 0s 1 forwards;
        }
        .move-to-out {
            -webkit-animation: move-to-out 3s 0s 1 forwards;
            -moz-animation: move-to-out 3s 0s 1 forwards;
            -o-animation: move-to-out 3s 0s 1 forwards;
            animation: move-to-out 3s 0s 1 forwards;
        }
    }
    .service-header {
        font-size: 1.3rem;
        text-align: center;
    }
    .services {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: map-get($map: $colors, $key: blackk);
        .service {
            // border:1px solid #000000;
            display: flex;
            flex-direction: column;
            margin: 0.5em;
            width: 21vmax;
            > img {
                margin: 0.5em;
                height: 20vmax;
                align-self: center;
                @media only screen and (max-width: 370px){
                    height: 57vmax;
                }
            }
            > .text {
                margin: 1vmax;
                p:first-child {
                    font-size: 2rem;
                    margin: 0.5vmax 0;
                }
                @media only screen and (max-width: 370px){
                    margin: 0 5vmax;
                }
            }
            &:nth-child(2) {
                border-left: 1px solid map-get($map: $colors, $key: greyy);
                border-right: 1px solid map-get($map: $colors, $key: greyy);
                padding: 0 3vmax;
                @media only screen and (max-width: 1300px){
                    padding: 0;
                    border: 0px;
                    border-top: 1px solid map-get($map: $colors, $key: greyy);
                    border-bottom: 1px solid map-get($map: $colors, $key: greyy);
                }
            }
            @media only screen and (max-width: 1300px) and (min-width: 370px){
                flex-direction: row;
                width: auto;
            }
            @media only screen and (max-width: 370px){
                width: 60vmax;
            }
        }
        @media only screen and (max-width: 1300px) {
            flex-direction: column;
        }
    }

}
.footer {
    background: map-get($map: $colors, $key: greenn);
    display: flex;
    justify-content: space-around;
    color: map-get($map: $colors, $key: whitee);
    padding-bottom: 50px; 
    > div {
        margin: 10px;
    } 
    .contact {
        p {
            font-size: 2rem;
            @media only screen and (min-width: 370px) {
                margin: 0.5vmax 0;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            label {
                margin-top: 0.5vmax; 
            }
        }
    }
    .about {
        position: relative;
        width: 50%;
        text-align: end;
        :nth-child(2) {
            font-size: 2rem;
        }
        .red-div {
            position: absolute;
            background: map-get($map: $colors, $key: redd);
            width: 100%;
            // height: 1px;
        }
    }
    @media only screen and (max-width: 370px) {
        flex-direction: column;
        align-items: center;
    }
}
/* <keyframes> */
@-webkit-keyframes move-to-center {
    0% {left: 100%}
    30% {left: 0}
    100% {left: 0}
}
@-moz-keyframes move-to-center {
    0% {left: 100%}
    30% {left: 0}
    100% {left: 0}
}
@-o-keyframes move-to-center {
    0% {left: 100%}
    30% {left: 0}
    100% {left: 0}
}
@keyframes move-to-center {
    0% {left: 100%}
    30% {left: 0}
    100% {left: 0}
}
@-webkit-keyframes move-to-out {
    0% {left: 0}
    100% {left: -100%}
}
@-moz-keyframes move-to-out {
    0% {left: 0}
    100% {left: -100%}
}
@-o-keyframes move-to-out {
    0% {left: 0}
    100% {left: -100%}
}
@keyframes move-to-out {
    0% {left: 0}
    100% {left: -100%}
}
/* </keyframes> */