$colors: (
    primary: #fff,
    secondery: #000,
    whitee: #ffffff,
    blackk: #000000,
    redd: red,
    greenn: #0D9361,
    greyy: #D9D9D9,
    transparentt: transparent, 
);
$sizes: (
    mobile: 540px,
);

/* <reusable> */
.padding-0-5-rem {
    padding: 0.5rem;
}
/* </reusable> */
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    body {
        margin: 0;
        ul {
            padding: 0;
            li {
                list-style: none;
            }
        }
        a {
            text-decoration: none;
            color: map-get($map: $colors, $key: blackk);
        }
        button {
            border: 1px solid map-get($map: $colors, $key: transparentt);
            background: map-get($map: $colors, $key: whitee);
        }
    }
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 1rem;
    background: map-get($map: $colors, $key: whitee);
    z-index: 1;
    ul {
        display: flex;
        justify-content: space-around;
    }
    a {
        white-space: nowrap;
    }
    .menu {
        .menu-bar-button {
            display: none;
            width: 1em;
            div {
                border-bottom: 1px solid map-get($map: $colors, $key: blackk);
                padding: 2px 0;
            }
            @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
                display: block;
            }
        }
        .menu-bar-expanded {
            li {
                border-bottom: 1px solid map-get($map: $colors, $key: transparentt);
                &:hover {
                    border-bottom: 1px solid map-get($map: $colors, $key: greyy);
                }
            }
            > .active {
                border-bottom: 1px solid map-get($map: $colors, $key: redd);
                &:hover {
                    border-bottom: 1px solid map-get($map: $colors, $key: redd);
                }
            }
            @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
                display: none;
            }
        }
        @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
            > .active {
                display: block;
                text-align: center;
                background: map-get($map: $colors, $key: whitee);
                position: absolute;
                right: 0;
                width: 100%;
                margin-top: 1em;
            }
        }
    }
    .close {
        @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
            .menu-bar-button {
                div:nth-child(odd) {
                    border-bottom: 1px solid map-get($map: $colors, $key: transparentt);
                }
                div:nth-child(even) {
                    animation: skew-button 250ms linear 1 forwards;
                }
                div:nth-child(even)::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-bottom: 1px solid black;
                    margin: -2px 0;
                    animation: skew-button-after 250ms linear 1 forwards;
                }
            }
        }
    }
}
.content {
    margin-top: calc(2em + 2em + 0.3rem);
    z-index: 0;
    position: relative;
    overflow: hidden;
    .slide-show {
        // border: 1px solid black;
        display: flex;
        position: relative;
        height: 60vh;
        color: map-get($map: $colors, $key: whitee);
        text-shadow: 0 0 20px map-get($map: $colors, $key: blackk);
        > div {
            position: absolute;
        }
        .slide-image {
            // border: 1px solid red;
            width: 100%;
            display: flex;
            height: 60vh;
            .skewed {
                // border: 1px solid red;
                width: 50%;
                height: 60vh;
                transform: skew(-20deg);
                margin-left: 7%;
                background: map-get($map: $colors, $key: redd);
                opacity: 0.4;
            }
            .text {
                width: 60%; 
                margin-left: -55%;
                z-index: 1;
                h1 {
                    font-size: 4.5vw;
                    margin-left: 30%;
                    margin-bottom: 0;
                    @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
                        font-size: 8vw;
                    }
                }
                p {
                    font-size: 2.5vh;
                    margin-top: 0;
                    margin-left: 20%;
                }
                @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
                    width: 70%;
                }
            }
        }
        .slide-nav-bar {
            display: flex;
            flex-direction: column;
            right: 0.2em;
            height: 90%;
            justify-content: center;
            z-index: 1;
            button {
                width: 2em;
                height: 0.5em;
                margin: 1em;
                box-shadow: 0 0 1em 0 map-get($map: $colors, $key: blackk);
            }
            .active {
                background: map-get($map: $colors, $key: redd);
            }
            @media only screen and (max-height: 500px) {
                flex-direction: row;
                bottom: 0;
                align-items: flex-end;
                left: 0;
                justify-content: center;
                width: 50%;
            }
        }
        .slide-buttons {
            bottom: 0.6em;
            right: 0.2em;
            .slide-button {
                margin-right: 0.8em;
                padding: 0.8em;
                box-shadow: 0 0 1em 0 map-get($map: $colors, $key: blackk);
            }
        }
        .image-1 {
            background: url('images/5.png');
            background-size: cover;
            background-position: center;
            left: 100%;
        }
        .image-2 {
            background: url('images/6.jpg');
            background-size: cover;
            background-position: center;
            left: 100%;
        }
        .image-3 {
            background: url('images/7.jpg');
            background-size: cover;
            background-position: center;
            left: 100%;
        }
        .image-4 {
            background: url('images/8.png');
            background-size: cover;
            background-position: center;
            left: 100%;
        }
        .move-to-center {
            -webkit-animation: move-to-center 8s 0s 1 forwards;
            -moz-animation: move-to-center 8s 0s 1 forwards;
            -o-animation: move-to-center 8s 0s 1 forwards;
            animation: move-to-center 8s 0s 1 forwards;
        }
        .move-to-out {
            -webkit-animation: move-to-out 3s 0s 1 forwards;
            -moz-animation: move-to-out 3s 0s 1 forwards;
            -o-animation: move-to-out 3s 0s 1 forwards;
            animation: move-to-out 3s 0s 1 forwards;
        }
    }
    .service-section {
        .service-header {
            font-size: 1.3rem;
            text-align: center;
        }
        .services {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            color: map-get($map: $colors, $key: blackk);
            .service {
                // border:1px solid #000000;
                display: flex;
                flex-direction: column;
                margin: 0.5em;
                width: 21vmax;
                > img {
                    margin: 0.5em;
                    height: 16em;
                    align-self: center;
                    @media only screen and (max-width: map-get($map: $sizes, $key: mobile)){
                        height: 57vmax;
                    }
                }
                > .text {
                    margin: 1vmax;
                    p:first-child {
                        font-size: 2rem;
                        margin: 0.5vmax 0;
                    }
                    @media only screen and (max-width: map-get($map: $sizes, $key: mobile)){
                        margin: 0 5vmax;
                    }
                }
                &:nth-child(2) {
                    border-left: 1px solid map-get($map: $colors, $key: greyy);
                    border-right: 1px solid map-get($map: $colors, $key: greyy);
                    padding: 0 3vmax;
                    @media only screen and (max-width: 1300px){
                        padding: 0;
                        border: 0px;
                        border-top: 1px solid map-get($map: $colors, $key: greyy);
                        border-bottom: 1px solid map-get($map: $colors, $key: greyy);
                    }
                }
                @media only screen and (max-width: 1300px) and (min-width: map-get($map: $sizes, $key: mobile)){
                    flex-direction: row;
                    width: auto;
                }
                @media only screen and (max-width: map-get($map: $sizes, $key: mobile)){
                    width: 60vmax;
                }
            }
            @media only screen and (max-width: 1300px) {
                flex-direction: column;
            }
        }
    }
}
.footer {
    position: relative;
    background: map-get($map: $colors, $key: greenn);
    display: flex;
    justify-content: space-around;
    color: map-get($map: $colors, $key: whitee);
    padding-bottom: 50px; 
    > div {
        margin: 1em 2em;
    } 
    .contact {
        p {
            font-size: 2rem;
            @media only screen and (min-width: map-get($map: $sizes, $key: mobile)) {
                margin: 0.5vmax 0;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            label {
                margin-top: 0.5vmax; 
            }
        }
    }
    .about {
        width: 50%;
        text-align: end;
        :nth-child(2) {
            font-size: 2rem;
        }
        .red-div {
            position: absolute;
            background: map-get($map: $colors, $key: redd);
            width: 100%;
        }
    }
    @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
        flex-direction: column;
        align-items: center;
    }
}
.goTop {
    position: fixed;
    right: 0;
    background: map-get($map: $colors, $key: whitee);
    box-shadow: 0 0 1em 0 map-get($map: $colors, $key: blackk);
    padding: 1em 0.5em;
    margin: 2.2em;
    border-radius: 0.2em;
    &.active {
        animation: move-to-top 500ms 0s linear forwards;
    }
    &.inactive {
        animation: move-to-bottom 500ms 0s linear forwards;
    }
}
/* <keyframes> */
@-webkit-keyframes move-to-center {
    0% {left: 100%}
    30% {left: 0}
    100% {left: 0}
}
@-moz-keyframes move-to-center {
    0% {left: 100%}
    30% {left: 0}
    100% {left: 0}
}
@-o-keyframes move-to-center {
    0% {left: 100%}
    30% {left: 0}
    100% {left: 0}
}
@keyframes move-to-center {
    0% {left: 100%}
    30% {left: 0}
    100% {left: 0}
}
@-webkit-keyframes move-to-out {
    0% {left: 0}
    30% {left: -100%}
    100% {left: -100%}
}
@-moz-keyframes move-to-out {
    0% {left: 0}
    30% {left: -100%}
    100% {left: -100%}
}
@-o-keyframes move-to-out {
    0% {left: 0}
    30% {left: -100%}
    100% {left: -100%}
}
@keyframes move-to-out {
    0% {left: 0}
    30% {left: -100%}
    100% {left: -100%}
}
@-webkit-keyframes skew-button {
    0% {transform: skew(0, 0)}
    100% {transform: skew(0, 36deg)}
}
@-moz-keyframes skew-button {
    0% {transform: skew(0, 0)}
    100% {transform: skew(0, 36deg)}
}
@-o-keyframes skew-button {
    0% {transform: skew(0, 0)}
    100% {transform: skew(0, 36deg)}
}
@keyframes skew-button {
    0% {transform: skew(0, 0)}
    100% {transform: skew(0, 36deg)}
}
@-webkit-keyframes skew-button-after {
    0% {transform: skew(0, 0)}
    100% {transform: skew(0, -56deg)}
}
@-moz-keyframes skew-button-after {
    0% {transform: skew(0, 0)}
    100% {transform: skew(0, -56deg)}
}
@-o-keyframes skew-button-after {
    0% {transform: skew(0, 0)}
    100% {transform: skew(0, -56deg)}
}
@keyframes skew-button-after {
    0% {transform: skew(0, 0)}
    100% {transform: skew(0, -56deg)}
}
@-webkit-keyframes move-to-top {
    0% {bottom: -50%}
    100% {bottom: 0%}
}
@-moz-keyframes move-to-top {
    0% {bottom: -50%}
    100% {bottom: 0%}
}
@-o-keyframes move-to-top {
    0% {bottom: -50%}
    100% {bottom: 0%}
}
@keyframes move-to-top {
    0% {bottom: -50%}
    100% {bottom: 0%}
}
@-webkit-keyframes move-to-bottom {
    0% {bottom: 0%}
    100% {bottom: -50%}
}
@-moz-keyframes move-to-bottom {
    0% {bottom: 0%}
    100% {bottom: -50%}
}
@-o-keyframes move-to-bottom {
    0% {bottom: 0%}
    100% {bottom: -50%}
}
@keyframes move-to-bottom {
    0% {bottom: 0%}
    100% {bottom: -50%}
}
/* </keyframes> */